	/*公共css*/
	/*.ivu-btn-primary,.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner
		background-color: #27aafd;
		border-color: #27aafd;*/
	.texC
			text-align center
		.fr
			float right
		.fl
			float left
		/*清除浮动*/
		.clearfix:before,.clearfix:after
			content:".";
			display:block;
			visibility:hidden;
			height:0;
			line-height:0;
			font-size:0
		.clearfix:after
			clear:both
		.clearfix
			zoom:1
	  /*密码器和账号说明的css*/
	.marT45
		margin-top 45px
	.im-moreDiv
		margin-top 30px
		font-size 14px
		.im-hrefSet
			text-decoration underline
			color #27aafd!important
	.im-contentDiv
		width 63%
		margin 0px auto
		background-color #fff
		padding 10px 0px 25px 0px
		min-width 660px
		.ivu-card-body
			overflow hidden
			min-height 375px
	.im-rightDiv
		width 36%
		margin-left 5%
		/*  margin-top -300px*/
		.im-infoT
			font-size 17px
			color: #6b6767
			font-weight 600
		.im-content
			text-indent 2em
			font-size 14px
			padding 10px 0px

	.im-leftDiv
		width 55%
		padding 60px 0px 20px 0px
		input,.ivu-select
			max-width 290px
	.im-BigDiv
		margin 0 auto 20px auto;
		max-width 96%;
	.im-Title
		font-size 26px;
		margin-top 30px
		margin-bottom 30px
	h3,p
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;

		/*对话框*/
	.vertical-center-modal
		display: flex;
		align-items: center;
		justify-content: center;
		.ivu-modal
			top: 0;

		/*	通知框*/
	.ivu-notice-desc
			font-size 14px
		/*	font-weight 700*/

		/*筛选条件*/
	.mz-tableDiv
		padding 0px 20px
	.selectfixWidth
		width 220px
	.mz-SXcontentDiv
		position relative
		.mz-SXbarDiv
			position absolute
			top 15px
			right 20px
			.ivu-btn
				margin-right 20px
			.mz-barBtn
				color #27aafd
				cursor pointer
	.mz-SXlistDiv
		margin-bottom 13px
		p
			text-align right
			min-width 120px
			line-height 31px
		.ivu-btn
			margin-left 15px
		.mz-SXlists
			li
				list-style none
				display inline-block
				padding 5px 12px
				margin 0px 6px
				cursor pointer
				border-radius 5px
			.active
				background-color #27aafd
				color #fff
	.mz-SXcontentDiv,.mz-tableDiv
		width: 80%;
		margin: 0px auto 15px;
		background-color: #fff;
